body {
    background-color: beige;
}
h1 {
    background-color: rgb(147, 69, 14);
    background-size: 5cm;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56, 215, 0.856);
    margin: 20px;
}
h2 {
    color: rgb(11, 174, 11);
    text-align: center;
}
img {
    margin: 15px;
    width: 450px
}
li {
    background-color: rgb(119, 79, 51);
    text-align: center;
    color: rgb(11, 174, 11);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
p {
    text-align: center;
    color: rgb(11, 174, 11);
    font-size: 25px;
}